

.days-contente{    
    margin-top: .625rem;
}


.tittle{
    text-align: center; 
    font-size: 2.8125rem;
    font-weight: 650;
    color: #31755E;
}

.filter-icon{
    color: #31755E;
}

.days{
    color: #46A786;
    background-color: #F5FBF9;
}
.number-day{
    font-size: 2.375rem;
    text-align: center;
    margin-top: -0.75rem
}
.name-day{
    font-size: 1.375rem;
    text-align: center;
}
.day-item{
    padding: .625rem 1.25rem;
    border-radius: 25px; 
    cursor: pointer; 
}

.tittle-section{
    margin-bottom: 0em;
}

.daySelected{
    padding: .625em 1.5625em;
    border-radius: 25px;   
    background-color: #46A786;
    color: white;
}

.hours-backgroud{
    top: 6.25em;
}

.line-day{
    height: 100%;
    top: 1.875rem;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;  
    .card {
        display: inline-block;
        margin: 0em .75em 0em .75em;
        border: 0;
        cursor: pointer;
      }
}

.filters{
    margin: 1em 2.1875rem 0.75em 3em;
    text-align: end;
    font-size: 1.25rem;
    color: #31755E;
}

.bordered {
    display: inline-block;
    border-left: dashed 1px #C9C9C9;
    border-right: dashed 1px #C9C9C9;
}
 
.largeGaps {
margin: 0 1.25em;
}

.unselected{
    color: #9BBCB0;
}

.dorder-solid{
    border-left: solid 1px #9b9b9b !important;
    margin: 0 1.25em;
}

.marker{
    position: absolute; 
    width: 15.625em;
    padding: .4375em .625em;
    border-radius: 25px;    
    color: white;
}


.avatar{
    height: 2.8125em;
    border-radius: 50%;
}