<div class="container-sidebar">
    <div *ngFor="let element of elementToRead">
        <div>
            <label class="btn btn-add" ngbButtonLabel>
                <i-bs
                name="plus"
                width="2.3rem"
                height="2.3rem">
              </i-bs>New {{element.section}}
            </label> 
        </div>
        <div class="form-group has-search" [ngStyle]="{'margin-top':'.625em'}">
            <span class="fa fa-search form-control-feedback"><i-bs 
                name="search"  
                width="1rem"
                height="1rem" ></i-bs></span>
            <input type="text" class="form-control" placeholder="{{element.section}} Search">
        </div>
        <div>
            <div [ngStyle]="{'line-height': 1}" *ngFor="let category of element.categories">
                <h5 class="group"><strong>{{category.name}}</strong></h5>
                <div class="custom-control custom-checkbox checkbox-lg" *ngFor="let item of category.items">
                    <input type="checkbox" class="custom-control-input" id="checkbox-2">
                    <label class="custom-control-label check-label" for="checkbox-2">{{item}}</label>
                </div>
                <br>
                <a class="see-more">See more</a>
                <br>
                <br>
            </div>
        </div>
    </div>
      
</div>

