.item-footer{
    font-size: 1.25rem;
    color: #7F7F7F;
    margin-left: 1.5625em;
    margin-right:  1.5625em
}

.autor{
    font-size: 1.25rem;
}


@media (max-width: 1200px) {
    .tittle-description {
      font-size: 1.5rem;
    }
    
    .margin-text-detail{
        margin-top:  1.25rem;
     }
 }
