<div [ngStyle] = "{'margin-top':'.9375rem'}">
    <div class="dis-flex justify-content-center">
        <div class="item-footer">
            About
        </div>
        <div class="item-footer">
            Accesibility
        </div>
        <div class="item-footer">
            Help Center
        </div>
        <div class="item-footer">
            Impressum
        </div>
        <div class="item-footer">
            Get Minty Mint App
        </div>
        <div class="item-footer">
            More
        </div>
    </div>
    <div class="item-footer" [ngStyle] = "{'margin-top':'.9375rem','text-align':'center'}">
        <strong> <p> <span class="green-text"> MINTY MINT </span> © 2020</p> </strong>
    </div>
</div>
