<div class="container-fluid" >
    <div class="side-bar">
        <app-side-bar></app-side-bar>
    </div>    
    <div class="content-subjects">
        <div class="tittle-section">                 
            <p style="margin: 0;">Subjects</p>
        </div>
        <div class="scrolling-wrapper">
            <div style="height: 50rem">        
            <div class="row item-subject-contente" *ngFor="let subject of subjects" >
                <div  class="col-md-6 col-sm-12 center left " [ngStyle]="{'background-color': subject.secondBackground}">
                    <i-bs
                    name="image-fill"
                    class="text-white"
                    width="3rem"
                    height="3rem">
                    </i-bs>     
                </div>
                <div class="col-md-6 col-sm-12 right" [ngStyle]="{'background-color': subject.mainBackground}">
                    <div class="dis-flex" style="position: relative;">
                        <div >
                            <p class="subject-tittle"> {{subject.subjects}}</p>
                            <p class="subject-subtittle">{{subject.instructor}}</p>
                        </div>
                        <div>
                            <div class="pos-right-item">
                                <div class="subject-item" [ngStyle]="{'border-color': subject.secondBackground}"  *ngFor="let description of subject.descriptions" >
                                    {{description.description}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subject-description">
                            Loem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Loem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
                            took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, 
                            but also the leap into electronic typesetting.
                    </div>
                    <div class="dis-flex" style="position: relative;">
                        <i-bs
                        name="instagram"
                        class="text-dark social-icons"
                        width="1.3rem"
                        height="1.3rem">
                        </i-bs>
                        <i-bs
                        name="twitter"
                        class="text-dark social-icons"
                        width="1.3rem"
                        height="1.3rem">
                        </i-bs>
                        <i-bs
                        name="facebook"
                        class="text-dark social-icons"
                        width="1.3rem"
                        height="1.3rem">
                        </i-bs>
                        <i-bs
                        name="globe2"
                        class="text-dark social-icons"
                        width="1.3rem"
                        height="1.3rem">
                        </i-bs>
                        <div class="pos-right-item">
                            <a class="btn btn-primary btn-md" href="#" role="button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>





















